h1 {
	font-family: 'Philosopher',sans-serif;
	text-align: center;
	font-size: 80px;
	padding-top: 5%;
	
}

nav {
	text-align: right;
	clear: both;
}

.top {
	text-align: inline;
}

.existing {
	border-left: 5%;
	padding-left: 5%;
}

.comedy {
	padding-top: 2%;
}

.newScript {
	text-align: right;
	padding-right: 10%;
}