<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            <a class="navbar-brand topnav" href="#">Wiki Studios</a>
        </div>
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a id="modal_trigger" href="#modal" class="btn">Register / Log In</a>
                </li>
            </ul>
        </div>
</nav>

<form name="cse" id="searchbox_demo" action="https://www.google.com" style="float: right; margin-right: 8%;">
  <input type="hidden" name="cref" value="" />
  <input type="hidden" name="ie" value="utf-8" />
  <input type="hidden" name="hl" value="" />
  <input name="q" type="text" size="40" />
  <input type="submit" name="sa" value="Search" />
</form>
<script type="text/javascript" src="https%3A%2F%2Fcse.google.com%2Fcse/tools/onthefly?form=searchbox_demo&lang="></script>
<br></br>
<br></br>

<div class="video">    
	<h2 style="margin-left: 35px; color: white;">Title of Video</h2>
        <center>
	<iframe width="853" height="480" src="https://www.youtube.com/embed/videoseries?list=PLrEnWoR732-AdR9js0bHtoXVFtHLxD_qJ" frameborder="0" allowfullscreen></iframe>
	<div class="scene-buttons">
    <% @scenes.each do |s| %>
      <%= button_to "Scene "+s.sceneNumber, scene_path(s), method: :get, form_class: "btn btn-default btn-sm" %>
    <% end %>
    <!--
		<input class="btn btn-default btn-sm" type="button" value="Scene 1" onclick="window.open('scene-1.html','popUpWindow','height=600,width=500,left=300,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
		<input class="btn btn-default btn-sm" type="button" value="Scene 2" onclick="window.open('upload script.html','popUpWindow','height=300,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
		<input class="btn btn-default btn-sm" type="button" value="Scene 3" onclick="window.open('upload script.html','popUpWindow','height=300,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
		<input class="btn btn-default btn-sm" type="button" value="Scene 4" onclick="window.open('upload script.html','popUpWindow','height=300,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
		<input class="btn btn-default btn-sm" type="button" value="Scene 5" onclick="window.open('upload script.html','popUpWindow','height=300,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
		<input class="btn btn-default btn-sm" type="button" value="Scene 6" onclick="window.open('upload script.html','popUpWindow','height=300,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
		<input class="btn btn-default btn-sm" type="button" value="Scene 7" onclick="window.open('upload script.html','popUpWindow','height=300,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
		<input class="btn btn-default btn-sm" type="button" value="Scene 8" onclick="window.open('upload script.html','popUpWindow','height=300,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
		<input class="btn btn-default btn-sm" type="button" value="Scene 9" onclick="window.open('upload script.html','popUpWindow','height=300,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
		<input class="btn btn-default btn-sm" type="button" value="Scene 10" onclick="window.open('upload script.html','popUpWindow','height=300,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">-->
	</div>
</center>
</div>
<br></br>
<br></br>
<br></br>
<div>Production Notes</div>
<p><%= @script.notes%></p>
<br></br>
<div>Plot</div>
<p><%= @script.summary%></p>
<br></br>
<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook" target="_blank"><img src="flat_web_icon_set/color/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet"><img src="images/flat_web_icon_set/color/Twitter.png"></a></li>
  <li><a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"><img src="images/flat_web_icon_set/color/Google+.png"></a></li>
</ul>