<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Wiki Studios</title>
	<!-- link to Bootstrap CSS file and the main CSS file -->
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="css/style.css" />

<style>

body {
	margin-left: 2%;
	margin-right: 2%;
}

.action-button {
	text-align: center;
}


</style>


</head>

<body>
	<h2>Script Name - Scene 1</h2>
	<div class="action-button">
	<button type="button" class="btn btn-default btn-sm" style="margin-right:2%;">Claim Scene 1</button>
	<button type="button" class="btn btn-default btn-sm" style="margin-right:2%;">Print Scene 1 Script</button>
	<button type="button" class="btn btn-default btn-sm" style="margin-right:2%;">Upload Video</button>
</div>

</br>
</br>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis molestie dolor sed ornare. Nulla bibendum fermentum leo, a tincidunt nunc consequat et. Praesent non lacus eu mi posuere dapibus. Aliquam eu enim imperdiet, scelerisque dui nec, aliquet elit. Mauris nunc lorem, auctor nec pellentesque quis, auctor non lectus. Fusce hendrerit urna vitae consequat convallis. Donec massa massa, ultrices eu gravida sed, tristique non elit. Suspendisse vel ullamcorper sapien. Mauris ipsum tellus, pulvinar quis pretium sit amet, euismod nec sapien. Vestibulum eget purus eros. Nunc ut euismod leo. Aliquam erat volutpat.</p>

<p>Ut eu tortor accumsan orci molestie molestie. Vivamus neque mi, dignissim et velit non, interdum elementum justo. Donec sit amet urna leo. Nullam efficitur lobortis ligula a vulputate. Donec auctor, dui non aliquet mattis, ex dui tincidunt lorem, ut consequat mauris massa sit amet urna. Pellentesque molestie, magna nec dapibus mattis, nisi risus blandit justo, eget fringilla lorem orci nec sem. Sed ut maximus augue. Donec quam sapien, convallis sed ante a, dapibus luctus odio.</p>

<p>Donec sed est at magna facilisis convallis ac eget lorem. Fusce vitae dolor vel libero gravida ornare sodales eu est. Nam sit amet eros faucibus diam varius bibendum. Vivamus dignissim tincidunt ultricies. Cras vitae eros eget tellus interdum dignissim et in ante. Nam non blandit dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed quis blandit massa. Maecenas ultricies nibh eu elementum sodales. Pellentesque imperdiet vitae turpis eu dictum. Suspendisse leo nisl, viverra eget congue nec, consequat sit amet velit. Sed non commodo ante. Fusce bibendum nisi nec efficitur molestie. Maecenas hendrerit turpis quam, non vulputate lectus laoreet id. Aliquam laoreet pharetra pulvinar.</p>

<p>Morbi cursus, eros ac mattis elementum, tortor justo tempor augue, at malesuada orci dui id sem. In varius gravida eros eu auctor. Mauris efficitur placerat justo eu aliquam. Sed nec nunc nunc. Ut ut gravida massa. Praesent dapibus ultrices dolor a tempor. Aliquam ullamcorper convallis hendrerit.</p>

<p>Duis luctus arcu orci, sit amet luctus felis cursus at. Morbi sed mauris sed justo placerat posuere nec a erat. Curabitur in felis in sapien porta volutpat et quis augue. Nullam rutrum id sapien sed pulvinar. Integer sed rutrum velit. Vivamus suscipit magna at nisl consectetur pharetra eget eu neque. Cras tincidunt tempus metus id volutpat.</p>

<p>Cras lorem enim, tincidunt vel nulla vitae, blandit varius est. Duis pellentesque vitae felis tincidunt faucibus. Quisque faucibus turpis felis, eu condimentum leo posuere sed. Maecenas urna neque, suscipit non ante nec, consectetur hendrerit nisl. Mauris sollicitudin lacus id commodo venenatis. Aliquam erat volutpat. Vestibulum posuere eros eu ante molestie, non condimentum elit pulvinar. Phasellus ac erat rhoncus, malesuada dui non, tempus velit. Curabitur et fringilla nisl, mattis elementum diam. Nulla quam arcu, dapibus a nunc sed, accumsan venenatis libero. Etiam id urna eu arcu viverra sodales. Donec scelerisque nulla sapien, in rutrum sem eleifend a.</p>

<p>Fusce imperdiet turpis eget risus auctor sodales. Aenean sagittis tristique risus, auctor scelerisque sapien varius non. Sed rhoncus laoreet nibh at elementum. Fusce vel nisi vel risus feugiat sagittis. Praesent vestibulum commodo tristique. Nunc vitae lacus facilisis, blandit lacus a, aliquet magna. Vivamus laoreet accumsan ligula at sodales. Aenean viverra varius massa, molestie commodo lorem elementum a. Ut aliquet non leo vitae ullamcorper. Pellentesque lobortis, justo vitae suscipit rhoncus, urna sapien dapibus mauris, ut mattis justo dui vitae erat. Vivamus ornare ultrices nulla.</p>

<p>Vestibulum maximus, erat sit amet efficitur malesuada, eros justo pulvinar erat, ut consequat mi diam vel lectus. Ut ac massa vitae nibh suscipit pellentesque ut vel urna. Maecenas facilisis mi eget scelerisque vestibulum. Quisque vel cursus velit. Vivamus imperdiet arcu eu sollicitudin vehicula. Nulla vel commodo nisl. Suspendisse potenti. Nullam tortor ipsum, efficitur id neque vel, lobortis ultricies lorem.</p>

<p>Sed et nisl id sapien porttitor iaculis. Proin nec euismod nulla, a semper arcu. Quisque tincidunt ac enim id faucibus. Etiam urna leo, bibendum a ligula vestibulum, pellentesque molestie nisi. Aliquam consequat iaculis leo, ac suscipit libero. Etiam magna nisi, bibendum at tempor in, rhoncus eu nulla. Suspendisse semper sed magna ac pretium. Pellentesque bibendum ipsum felis, vel mollis nibh egestas id. Praesent vel lobortis sapien, quis viverra ante.</p>

<p>Suspendisse placerat nisl porttitor risus placerat malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec gravida est felis, non dignissim odio tempus in. Cras a justo sagittis, rutrum metus at, lobortis justo. Aliquam erat volutpat. Etiam in sollicitudin dui, vitae ullamcorper dui. Praesent a molestie mi. Pellentesque imperdiet est ac massa euismod, vel lobortis nisi rutrum. Nullam malesuada tortor nisl, non porttitor lorem varius nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam fermentum vulputate augue quis consequat. Nullam lacus tellus, posuere eu semper sed, auctor a risus. Sed malesuada viverra commodo. Integer eros nisi, volutpat vel arcu id, posuere convallis odio. Maecenas ut odio aliquet, auctor nunc vel, ultricies turpis.</p>

</body>
</html>