body {
background-color: black;
}

h1 {
    color: white;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin-top: 19px;
    float: right;
    color: white;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

a:hover, a:active {
    background-color: grey;
}


#HCB_comment_box {
    width: 853px;
}

.box {
    background-color: white;
    padding: 100px;
}

#boxes {
    position: relative;
    display: block;
    float: left;
    margin-left: 50px;
}