<h2>Script Name - Scene 1</h2>
<div class="action-button">
	<button type="button" class="btn btn-default btn-sm" style="margin-right:2%;">Claim Scene 1</button>
	<button type="button" class="btn btn-default btn-sm" style="margin-right:2%;">Print Scene 1 Script</button>
	<button type="button" class="btn btn-default btn-sm" style="margin-right:2%;">Upload Video</button>
</div>
<p><%= @scene.sceneText %></p>
<p><%= @scene.settingGuideline %></p>
<p><%= @scene.characterGuideline %></p>