// Place all the styles related to the Scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Home page css (index.html.erb)

nav {
	text-align: right;
	clear: both;
}

.top {
	text-align: inline;
}

button.link {
	background: none;
	border: none;
}


#newScript {
	font-color: black;
}

.existing {
	width:65%;
	float:left;
}

.newScript {
	float:right;
	vertical-align: center;
	/*margin-top: 24%;*/
	margin-top: 5%;
}

#or {
	float:left;
	width:1%;
	font-size: 2em;
	vertical-align: center;
	/*margin-top: 20%;*/
}

.mainBody{
	width:100%;
}

.videoDiv {
	float:left;
	width:65%;
	margin-left: 2%;
    background-color: black;
    padding-bottom: 15px;
    margin-right: 3%;
    position: relative;
}

.scene-buttons-container {
    display: inline;
    margin-left: 10%;
}

.scene_buttons_white{
	background-color: white;
	width: 100%;
	border: 1px solid #666;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.scene_buttons_blue_dark{
	background-color: navy;
	width: 100%;
	border: 1px solid #666;
	padding: 5px 5px 5px 5px;
	text-align: center;
}


.box {
    margin-right:5%;
    margin-left: 70%;
    border-right: 2px dashed navy;
    border-bottom: 2px dashed navy;
    padding: 5px;
}

#comment {
    border-bottom: 2px dashed navy;
    border-top: 2px dashed navy;
    padding: 3px;
    margin-right:5%;
    margin-bottom:10px;
    background:white;
}

#commentbox {
    margin-left: 2%;
    margin-right: 5%;
    background:black;
    padding:20px;
}


#video_container { 
	position: relative;
	float: left;
	padding-top: 50.25%;
	width: 100%;
	height: 100%;
}
/*
#playlist {
	width: 10%;
}

#playlist a {
	opacity: .5;
	display: block;
	transition: 1s opacity;
}

#playlist a img{
	width: 80%;
	height: 50%;
	margin-right: 20%;
	padding-top: 10%;
}
*/

#video_player {
  display: table;
  line-height: 0;
  font-size: 0;
  background: #000;
}

#video_container { 
  position: relative;
  float: left;
  padding-top: 50.25%;
  width: 100%;
  height: 100%;
}


#video_player div, #video_player figcaption {
  display: table-cell;
  vertical-align: top;
}

#video_container video {
  position: absolute; 
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
}

#video_player figcaption { 
  width: 10%; 
}


#video_player figcaption a {
  opacity: .5;
  display: block;
  transition: 1s opacity;
}

#video_player figcaption a img{
  width: 80%;
  height: 50%;
  margin-right: 20%;
  padding-top: 10%;
}

#video_player figure video {
  width: 100%;
  height: auto;
}

#video_player figcaption a.currentvid,
#video_player figcaption a:hover,
#video_player figcaption a:focus { opacity: 1; }

/*#video_container { padding-top: 56.25%; }*/
